.joke {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }

  &-favourite {
    color: #ff5e5e;
  }
}

.joke-text {
  user-select: none;
  display: inline-block;
  width: calc(100% - 32px);
  line-height: 1.5;
}

.favourite-icon {
  display: inline-block;
}
