.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ff5e5e;
  color: white;

  h3 {
    margin: 25px 0;
    text-align: center;
    letter-spacing: 2px;
  }
}

.main-content {
  margin-top: 86px;
}

.fetch-jokes-button {
  display: block;
  padding: 16px;
  background: #3a87ad;
  color: white;
  border: 0;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 16px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background: darken(#3a87ad, 5%);
  }
}

.auto-fave {
  display: block;
  margin: 16px 8px;
  user-select: none;
  text-align: center;

  label,
  input {
    &:hover {
      cursor: pointer;
    }
  }
}
